@import "setup";

$_text-inputs-list: (
  "[type='color']",
  "[type='date']",
  "[type='datetime']",
  "[type='datetime-local']",
  "[type='email']",
  "[type='month']",
  "[type='number']",
  "[type='password']",
  "[type='search']",
  "[type='tel']",
  "[type='text']",
  "[type='time']",
  "[type='url']",
  "[type='week']",
  "input:not([type])",
  "textarea",
);

#{_assign-inputs($_text-inputs-list)} {
  color: #f00;
}

#{_assign-inputs($_text-inputs-list, active)} {
  color: #0f0;
}

#{_assign-inputs($_text-inputs-list)},
select {
  color: #00f;
}

[type="file"],
#{_assign-inputs($_text-inputs-list)} {
  color: #f0f;
}
